<a href="https://colab.research.google.com/github/Manibharthi/python/blob/master/pytrhon_logical_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#acronyms using splitting and indexing 
#full program
user_input = str(input("Enter a Phrase: ")) #=> Mani Bharathi 
text = user_input.split() #=> text = Mani Barathi. split()
a = " " #empty storage container
for i in text: 
    a = a+str(i[0]).upper()
print("full program", a)
###########################################################
#step:1
user_input = str(input("Enter a Phrase: ")) #=> Mani Bharathi 
text = user_input.split()
print("using split to split the word", text)
###########################################################
#step:2
user_input = str(input("Enter a Phrase: ")) #=> Mani Bharathi 
text = user_input.split()
a = " "
for i in text:
  print("loop the i to print one by one from splitted input",i)

###########################################################
#step:3
user_input = str(input("Enter a Phrase: ")) #=> Mani Bharathi 
text = user_input.split()
a = " "
for i in text:
  print("indexing", (i[0]). upper())

###########################################################
#step:4
user_input = str(input("Enter a Phrase: ")) #=> Mani Bharathi 
text = user_input.split()
a = " "
for i in text:
  a=a+(i[0]). upper()
print(a)

Enter a Phrase: mani bharathi
full program  MB
Enter a Phrase: mani bharathi
using split to split the word ['mani', 'bharathi']
Enter a Phrase: mani bharathi
loop the i to print one by one from splitted input mani
loop the i to print one by one from splitted input bharathi
Enter a Phrase: mani bharathi
Enter a Phrase: mani bharathi
indexing M
indexing B
 MB

In [ ]:
from datetime import datetime   
from playsound import playsound
alarm_time = input("Enter the time of alarm to be set:HH:MM:SS\n")
alarm_hour=alarm_time[0:2]
alarm_minute=alarm_time[3:5]
alarm_seconds=alarm_time[6:8]
alarm_period = alarm_time[9:11].upper()
print("Setting up alarm..")
while True:
    now = datetime.now()
    current_hour = now.strftime("%I")
    current_minute = now.strftime("%M")
    current_seconds = now.strftime("%S")
    current_period = now.strftime("%p")
    if(alarm_period==current_period):
        if(alarm_hour==current_hour):
            if(alarm_minute==current_minute):
                if(alarm_seconds==current_seconds):
                    print("Wake Up!")
                    playsound('audio.mp3')
                    break

TclError: ignored

In [ ]:
 #find duplicate character in string
input = "geeksforgeeks"
inp = ['mani', 'max', 'bery', 'max', 'fg', 'mani']
ins = 1, 3, 6, 9, 0, 4, 7, 2, 3, 7
duplicate=[ ] #g, e
for i in inp:
   if inp.count(i)>1: # if geeksforgeeks.count(i=g)>1:
      if i not in duplicate:  #i= g 
         duplicate.append(i)
print(duplicate)

# v = set(inp)
# print(v)

['mani', 'max']

In [ ]:
inp = ["Azure vs. AWS - Which cloud is best? ", "AWS vs. Azure - Overview", "Azure vs. AWS - Computation power", "Azure Cloud vs. AWS Cloud – Storage", "Azure or AWS - Which is better in terms of Pricing?", "Amazon AWS vs. Microsoft Azure – Databases", "Azure vs AWS–Content Delivery and Networking Connectivity", "Amazon AWS vs. Microsoft Azure - Machine Learning", "Azure compared to AWS: Job Opportunities", "AWS vs. Azure: Salary", "AWS vs. Azure: Difficulty Level", "AWS vs. Azure: Market Share for Q1", "Microsoft Azure versus AWS: Certifications", 
duplicate=[ ] 
for i in inp:
   if inp.count(i)>1: # if geeksforgeeks.count(i=g)>1:
      if i not in duplicate:  #i= g 
         duplicate.append(i)
print(duplicate)

In [ ]:
#foind leap year
year = 2005
if year%400==0 and year%100==0:
    print(year, "is leap year")
else:
    print(year, "is not a leap year")

#remove duplicate using set
v= set(input)
print(v)

2005 is not a leap year
{1, 2, 7, 8, 11, 45, 15}

In [ ]:
#two sum 

# Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

# You may assume that each input would have exactly one solution, and you may not use the same element twice.

# You can return the answer in any order.

# Example 2:

# Input: nums = [3,2,4] target = 6
# Output: [1,2]

#python 3
input = [2,7,11, 15, 2, 45,8, 1]
target = 9
for i in range(len(input)):
  ini_value = input[i]
  for j in range(i+1, len(input)):
    if ini_value + input[j]== target:
      index = str(i)+ " ," + str(j)
      value = str(input[i])+ ", " + str(input[j])
print(index)
print(value)

6 ,7
8, 1

In [ ]:
#find postive & negative value
num = int(input("enter the value: "))
if num>0:
  print("num is positive value")
elif num==0:
  print("value 0 is neutral")
else:
  num<0
  print("num is negative value")

enter the value: 0
value 0 is neutral

In [ ]:
#find the absolute value? to find the position of the value from 0, for ex: the count of -5 from 0 is 5.  (hint: change the given number into positive number by converting it  formula:(value * -1))
num  = int(input("enter the value: "))
if num >=0:
  print("the absolute value of num is:  ", num)
else:
  v =num*-1
  print("the absolute value of  num is: ", v)

enter the value: 8
the absolute value of num is:   8

In [ ]:
#find the odd or even number (hint: modues (%) of  2 = 0 is even, if not then odd )
num  = int(input("enter the value: "))
if num %2==0:
  print("it is even value")
else: 
  num %2 !=0
  print("it is odd value")

enter the value: 6
it is even value

In [ ]:
#sum of given natural numbers
num  = int(input("enter the value: "))
c = 0
for i in range(1, num+1):
  c = c+i
print(c)
# (or)
# c= num*(num+1)/2
# print(int(c))
#(or)
# c=0
# while num>0:
#   c = c+num
#   num=num-1
# print(c)

enter the value: 100
5050

In [ ]:
#swap two numbers, see the below steps to understand
# a=4
# b=6

# temp=a
# temp = 4

# a=b
# 4=6
# a=6

# b = temp
# temp = 4

print(a, b) = 6, 4 
a  = int(input("enter the value: "))
b  = int(input("enter the value: "))
print("a is: ", a)
print("b is: ", b)
temp=a
a=b
b=temp
print(a, b)

enter the value: 4
enter the value: 9
a is:  4
b is:  9
9 4

In [ ]:
#find the given  number is factorial
n1  = int(input("enter the value: "))
n2  = int(input("enter the value: "))

if n1%n2==0:
  print("n1: ", n1 , " is factorial of  n2",n2 )
else:
    print("n1: ", n1 , " is not a factorial of  n2: ",n2 )

enter the value: 9
enter the value: 19
n1:  9  is not a factorial of  n2:  19

In [ ]:
#find the area of the circle by getting input as radius from user, (hint:  import pi from math module.), formula (a = pi * r **2)
from math import pi
radius = float(input("enter the radius of the circle: "))
area = pi*radius**2
print(area)

enter the radius of the circle: 6.5
132.73228961416876

In [ ]:
#seperating values using commas , and printing in list and tuples
values = input("Input some comma seprated numbers : ")
list = values.split(" ")
tuple=tuple(list)
print(tuple)
print(list)

Input some comma seprated numbers : 1 2 3 4 5 6 8 8 9
('1', '2', '3', '4', '5', '6', '8', '8', '9')
['1', '2', '3', '4', '5', '6', '8', '8', '9']

In [ ]:
#find the first & last value in the list
colors=["red", "blue", "yellow", "black", "orange" ]
first_color = colors[0]
last_color = colors[-1]
print("first_color:",first_color, "&", "last_color: ", last_color)

first_color: red & last_color:  orange

In [ ]:
#computes the value of n+nn+nnn. (hint: n, nn, nnn and plus all the set of value by spliting % and adding+ )
n = int(input("value: "))
n1 = int( "%s" % n )
n2=int( "%s%s" % (n,n) )
n3=int( "%s%s%s" % (n,n,n) )
total =(n1+n2+n3)
print(total, n1, n2, n3)

value: 6
738 6 66 666

In [ ]:
#split number into seperate digits
n= 123
#ans = 0
while n!=0:
  mod = n%10
  n = n//10
  print(mod)

3
2
1

In [ ]:
#reverse a number
#num = int(input("value: ")) #=>1234
#reversed_num = 0 #=> 0

#while num != 0: #=>1234!=0
    #digit = num % 10 #=>digit = 1234%10 = 4
    #reversed_num = reversed_num * 10 + digit #reversednum => reversenum*10+digit => 0*10+4 =>4
    #num //= 10 # num/10 => 1234//10 => 123

#print("Reversed Number: " + str(reversed_num))

#loop1: num = 0
#reversed num = 0
#digit = 4
#ans=>#reversed_num = 4
#num = 123

# n = int(input("value: "))
# ans = 0
# while n>0:
#   mod = n%10
#   ans = ans*10+mod
#   n =n//10
# print(ans)

def revr(n):
  ans = 0
  while n >0:
     mod = n%10
     ans = ans*10+mod
     n =n//10
  return(ans)
revr(4562)

2654

In [ ]:
#palindrome
num  = int(input("enter the value: "))
ans=0
temp = num
while num!=0:
  mod = num%10
  #print(mod)
  ans = ans*10+mod
  #print(ans)
  num = num//10
#print(num)
  

if (temp==ans):
  print("palindrome")
else:
  print("not palindrome")

enter the value: 153
not palindrome

In [ ]:
#arm strong

num = int(input("value: "))
sum = 0
temp = num
while num>0:
    mod=num%10
    #print(mod)
    sum+=mod**3
    #print(sum)
    num = num//10
#print(num)

if (sum==temp):
     print(sum, " ", "is an arm strong number")
else:
     print("not an arm strong number")

value: 153
153   is an arm strong number

In [ ]:
#fibbanoci series
a=0
b=1
n = int(input("value of n: "))
print(a)
print(b)
for i in range(1, n):
   c=a+b
   print(c)
   a=b
   b=c
 
#(or)

input = 10
a = 0
b = 1
c = 0
count = 0
step 1: increment the value 
while count<=input:
    #print(count)
    print(a)
    sum = a+b
    a = b
    b = sum
    count = count+1

value of n: 13
0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [ ]:
#sum of digits
n = int(input("value of n: "))
sum = 0
while n>0:
  mod = n%10
  sum= sum+mod
  n = n//10
print(sum)

value of n: 123
6

In [ ]:
#prime number
n = int(input("value of n: "))
for i in range(n):
  b=i%2!=0
  print(b)


#(or)

# Program to check if a number is prime or not

#num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
#flag = False

# prime numbers are greater than 1
# if num > 1:
#     # check for factors
#     for i in range(2, num):
#         if (num % i) == 0:
#             # if factor is found, set flag to True
#             flag = True
#             # break out of loop
#             break

# # check if flag is True
# if flag:
#     print(num, "is not a prime number")
# else:
#     print(num, "is a prime number")
flag = 0
num = int(input("value: "))
for i in range(2, num):
  flag = i%2
  if flag==0:
    print ("prime")

value of n: 7
False
True
False
True
False
True
False
value: 7
prime
prime
prime

In [ ]:
#perfect
Number = int(input(" Please Enter any Number: "))
Sum = 0
for i in range(1, Number):
    if(Number % i == 0):
        Sum = Sum + i
if (Sum == Number):
    print(" %d is a Perfect Number" %Number)
else:
    print(" %d is not a Perfect Number" %Number)

 Please Enter any Number: 100
 100 is not a Perfect Number

In [ ]:
#pattern program
#5 rows & coloumns
n = 6
# for i in range(1, n+1):
#   for j in range(i):
#      print ("*", end=" ")
#   print()
# for i in range(1, n+1):
#   for j in range(i, n):
#      print ("*", end=" ")
#   print()
# for i in range(n+1):
#   for j in range(i, n):
#      print ("*", end=" ")
#   for j in range(i):
#      print()  
#   print()

for i in range(n):
  for j in range(i+1):
      print ("*", end=" ")
  for j in range( i, n):
      print("@", end=" ")
  for j in range(i+1):
      print("#", end=" ")
  for j in range(i, n):
      print("$", end=" ")
  for j in range(i,n):
        print("&", end=" ")
  for j in range(i+1):
        print("%", end=" ")      
  print()

g=5
for i in range (g-1):
    for j in range(i, g):
        print("_", end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range(i+1):
        print("*", end=" ")
    for j in range(i, g):
        print("_", end=" ")
    print()

h=5
for i in range (h):
    for j in range(i+1):
        print("_", end=" ")
    for j in range (i, h-1):
        print("*",end=" ")
    for j in range(i,h):
        print("*", end=" ")
    for j in range(i+1):
        print("_", end=" ")    
    print()

for i in range(n):
  for j in range(n):
    print("*", end=" ")
  print()

* @ @ @ @ @ @ # $ $ $ $ $ $ & & & & & & %
* * @ @ @ @ @ # # $ $ $ $ $ & & & & & % %
* * * @ @ @ @ # # # $ $ $ $ & & & & % % %
* * * * @ @ @ # # # # $ $ $ & & & % % % %
* * * * * @ @ # # # # # $ $ & & % % % % %
* * * * * * @ # # # # # # $ & % % % % % %
_ _ _ _ _ * _ _ _ _ _
_ _ _ _ * * * _ _ _ _
_ _ _ * * * * * _ _ _
_ _ * * * * * * * _ _
_ * * * * * * * * * _
_ _ * * * * * * * _ _
_ _ _ * * * * * _ _ _
_ _ _ _ * * * _ _ _ _
_ _ _ _ _ * _ _ _ _ _
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
#condition based pattern program 
#for understanding
#                            (i=0)
#                 00   01  02  03  04
  #         00   *     *    *     *    *   04
  #         10   *     *    *     *    *   14
  # (j=0) 20   *     *    *     *    *   24   (j=n-1)
  #         30   *     *    *     *    *   34
  #         40   *     *    *     *    *   44
#                  40  41  42  43  44
#                          (i = n-1)

n= 5

# for i in range(n):
#   for j in range(n):

#     print(j, end=" ")
#   print()
# for i  in range(n):
#   for j in range(b):
#     if((i==0) or (i==4) or (j==0) or (j==4)):
#       print("*",end="")
#     else:
#       print(".",end="")
#   print() 




#((i==j)  or (i+j==n-1)):

for i in range(n):
  for j in range(n):
    if ((i==3 and j==3) or (i==0 and j==4) or (i==1 or j==3)  or (i==3 and j==1)  or (i==4 and j==0) or (i==4 and j==4) or (j==2 and j==2) or (i==1 or j==1) or (i==0 and j==0)):
      
      print("*", end = " ")
    else:
      print(" ", end=" ")
  print()

* * * * *
* * * * *
  * * *
  * * *
* * * * *

In [ ]:
#sum of elements in array 
# n=[1,7,3,8,57]
# b=0
# for i in range(0,len(n)):
#   b=b+n[i] 
#   print(b)

#(or)

n=int(input("enter the value: "))
a=[]
sum=0
b= 4
for i in range(n):
  a.append(int(input(n)))
  sum=sum+a[i]
print(sum)

enter the value: 10
102
103
104
105
106
107
108
109
101
1015
60

In [ ]:
def maxnum(list):
    max=list[0]
    for a in list:
        if a>max:
             max=a
    return max
print(maxnum([1,2,8,0]))

#(or)

8

In [ ]:
#Largest Element in an array using python
a = [1, 2, 3 , 5, 7, 56, 76]
# max=arr[0]
# n= len(arr)

#method 1
# a.sort()
# print(a[-1])

#method 2
#print(max(a))

#method 3
v_max=a[0]
for i in range( len(a)):
  if a[i]>v_max:
    v_max=a[i]
print(v_max)

76

In [ ]:
#Smallest Element in an array using python
a = [-9, -5,1, 2, 3 , 5, 7, 56, 76]
# v_min =a[0]
# for i in range(len(a)):
#   if a[i]<v_min:
#     v_min=a[i]
# print(v_min)

#method 2
# a.sort()
# print(a[0])

-9

In [ ]:
#reverse array
a = [1, 2, 3 , 5, 7, 56]
#method 1
# r = a[: :-1]
# print(r)  
#method 2
# for i in reversed(a):
#   print(i, end=" ")
#method 3
# a.reverse()
# print(a)

[56, 7, 5, 3, 2, 1]
Before reversal Array is : [11, 22, 33, 44, 55]
After reversing Array: [55, 44, 33, 22, 11]

In [ ]:
#convert normal input into array
a=int(input("enter size of array:"))
lst=[]
for i in range(a):
    b=int(input("enter element:"))
    lst.append(b)
    print(lst)

enter size of array:5
enter element:4
[4]
enter element:3
[4, 3]
enter element:2
[4, 3, 2]
enter element:1
[4, 3, 2, 1]
enter element:0
[4, 3, 2, 1, 0]

In [ ]:
a= [1, 2, 3, 4, 5, 6]
n = int (input("value: "))
flag = 0
for i in a:
  if i==n:
    print('found')
    flag=1 
    break
if (flag==0):
  print("not found")

value: 84
not found

In [ ]:
#sum of 2d array
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sum  = 0
for i in a: